<li class="item-action">
  <input type="text" name="command" value="" class="input-command input-text native-key-bindings" placeholder="Command" title="
You can use these placeholders:
%FILE_PATH%  -  The absolute file path;
%FILE_DIR%  -  The absolute path to the file's directory;
%FILE_NAME%  -  The full filename;
%FILE_NAME_BASE%  -  The base filename;
%FILE_NAME_EXT%  -  The file extension;
%PROJECT_DIR%  -  The absolute path to the project's directory;
%PROJECT_FILE_PATH%  -  The relative path to the file in the project;
%PROJECT_FILE_DIR%  -  The relative path to the file's directory in the project; " />
  <input type="text" name="fileMask" value="" class="input-filemask input-text native-key-bindings" placeholder="Files: *" title="This command will only run for files matching the specified glob patterns (eg: *.txt,*/logs/2021-01-??.log)" />
  <button type="button" name="context" value="" class="button-context button-flat"></button>
  <button type="button" name="stage" value="" class="button-stage button-flat"></button>
  <button type="button" name="type" value="" class="button-type button-flat"> </button>
  <button type="button" name="mode" value="" class="button-mode button-flat"></button>
  <button type="button" class="button-remove button-flat" title="Remove"></button>
</li>